<tr>
                            <td colspan="4" class="profile__title-adaptive">
                                <div class="tabel__item">
                                    <img src="./assets/images/main/products/1.png" alt="img">
                                    <span>Кускен Navy
                                                Blue</span>
                                </div>
                            </td>
                            <td class="profile__tabel-data">16990</td>
                            <td class="profile__tabel-data">01.05.2020</td>
                            <td class="profile__tabel-data">Ожидается</td>
                        </tr>








